
@{
    Layout = null;
}
@using System.Web.Optimization
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Nousware</title>
    @Styles.Render("~/Content/site")
    @Scripts.Render("~/Content/dependencies/jquery/dist/jquery.js")
    @Scripts.Render("~/Content/dependencies/bootstrap/dist/js/bootstrap.js")
    @Scripts.Render("~/Content/dependencies/swiper/dist/js/swiper.js")
    @Scripts.Render("~/Content/dependencies/formstone/dist/js/core.js")
    @Scripts.Render("~/Content/dependencies/formstone/dist/js/transition.js")
    @Scripts.Render("~/Content/dependencies/formstone/dist/js/lightbox.js")
    @Scripts.Render("http://maps.google.com/maps/api/js?sensor=false&amp;language=en")
    @Scripts.Render("~/Content/dependencies/gmap3/dist/gmap3.min.js")
    @Scripts.Render("~/Content/dependencies/wow.js/dist/wow.js")
    @Scripts.Render("~/Content/assets/javascripts/app.js")
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    @*@Scripts.Render("http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")*@
    
    

   
    <!-- Google Fonts -->
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic,700italic|Montserrat:400,700">
    <style type="text/css">

    </style>
    
</head>
<body class="gradient custom-body nousware-body">
                @Html.Partial("_first_block")
                @*@Html.Partial("_Soft_world")*@
                @Html.Partial("_Tech")
                @Html.Partial("_Logos")
                @Html.Partial("_Team")
                
                @*@Html.Partial("_Screenshot")*@
                @*@Html.Partial("_Price")*@
                @*@Html.Partial("_Features")*@
                
                @Html.Partial("_Contacts")
                @Html.Partial("_Footer")

<div>

</div>
<!-- Project Scripts
=====================================-->
<script>
    $('#google-maps').gmap3({
        map: {
            options: {
                center: [53.760386, 87.148733],
                zoom: 15
            }
        },
        marker: {
            latLng: [53.760386, 87.148733],
            options: {
                icon: new google.maps.MarkerImage(
                    "/content/assets/images/map-marker.png",
                    new google.maps.Size(48, 60, "px", "px")
                )
            }
        }
    });

    // scrollReveal Init
    if (screen.width > 966) {
        $(document).ready(function() {
            new WOW().init();
        });
    }

</script>
    <script type="text/javascript">

$(function() {

$(window).scroll(function() {

if($(this).scrollTop() != 0) {

$('#toTop').fadeIn();

} else {

$('#toTop').fadeOut();

}

});

$('#toTop').click(function() {

$('body,html').animate({scrollTop:0},800);

});

});

    </script>
    <DIV ID="toTop"> <img src="/content/assets/images/up.png"/> </DIV>
</body>
</html>
